body {
    background-color: pink;
    display: grid;
    grid-template-rows: 82vh 13vh 5vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    gap: 10px;
}