@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 223, 228);
    font-size: 1.5em;
    text-align: center;

}

h1{
    text-align: center;
    color: rgb(252, 125, 146);
    font-family: 'Mochiy Pop P One';
}

.container{
    max-width: 640px;
    height: 340px;
    margin: 50px auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px-;
    box-shadow: .3em .3em .3em .3em;
}

form input, form label,button{
    border-radius: 5px;
    display: block;
    width: 95%;
    margin: 10px;
    color: rgb(240, 148, 164);
}

form input{
    font-size: 20px;
    height: 50px;
    padding: 0 20px;
}
button{
    position: relative;
    border-radius: 5px;
    display: block;
    width: 40%;
    height: 50px;
    margin: 50px auto;
    color: rgb(255, 255, 255);
    background-color: rgb(219, 70, 120);
    font-size: 1em;
    font-family: 'Mochiy Pop P One';
    bottom: 25px;
}

#tresmurango{
    z-index: auto;
    position: relative;
    top: -550px;
    left: -135px;
    width: 8%;
    z-index: auto;
}

#murango {
    position: relative;
    z-index: auto;
    width: 250px;
    bottom: 75px;
    right: 260px;
}
